{% extends 'base.html.twig' %}

{% set title = post.name %}
{% block content %}
    <h2>Category {{ post.category }} - {{ post.name }}</h2>
    <blockquote>
        <p>{{ post.content }}</p>
        <footer>Created at {{ post.createdAt|date('Y-m-d') }}</footer>
    </blockquote>
    <img width="400px" class="img-thumbnail" src="{{ asset('uploads/images/posts/' ~ post.imageName) }}" alt="">
{% endblock content %}